﻿@page "/bookings/counter"
@inherits CounterBase

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncreaseCount1">Click me</button>


@*@code {
    int cCount = 0;

    void IncrementCount2()
    {
        cCount = cCount + 2;
    }
}*@
