﻿@page "/bookings/fetchdata"
@inherits FetchDataBase
<h1>Hello, fetch</h1>

<p>
    <!-- Add a new forecast -->
    <button class="btn btn-primary"
            @onclick="OpenPopup">
        Add New Forecast
    </button>
</p>

@if (ShowPopup)
{
    <!-- This is the popup to create or edit a forecast -->
    <div class="modal" tabindex="-1" style="display:block" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Edit Forecast</h3>
                    <!-- Button to close the popup -->
                    <button type="button" class="close"
                            @onclick="ClosePopup">
                        <span aria-hidden="true">X</span>
                    </button>
                    <button class="btn btn-primary"
                            @onclick="OpenPopup2">
                        Open Popup2
                    </button>
                </div>
                <!-- Edit form for the current forecast -->
                @*<div class="modal-body">
                        <input class="form-control" type="text"
                               placeholder="Celsius forecast"
                               @bind="objWeatherForecast.TemperatureC" />
                        <input class="form-control" type="text"
                               placeholder="Fahrenheit forecast"
                               @bind="objWeatherForecast.TemperatureF" />
                        <input class="form-control" type="text"
                               placeholder="Summary"
                               @bind="objWeatherForecast.Summary" />
                        <br />
                         Button to save the forecast
                        <button class="btn btn-primary"
                                @onclick="SaveForecast">
                            Save
                        </button>
                    </div>*@
            </div>
        </div>
    </div>
}

@if (ShowPopup2)
{
    <!-- This is the popup to create or edit a forecast -->
    <div class="modal" tabindex="-2" style="display:block" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Edit Forecast</h3>
                    <!-- Button to close the popup -->
                    <button type="button" class="close"
                            @onclick="ClosePopup2">
                        <span aria-hidden="true">X</span>
                    </button>
                </div>
                <!-- Edit form for the current forecast -->
                @*<div class="modal-body">
                        <input class="form-control" type="text"
                               placeholder="Celsius forecast"
                               @bind="objWeatherForecast.TemperatureC" />
                        <input class="form-control" type="text"
                               placeholder="Fahrenheit forecast"
                               @bind="objWeatherForecast.TemperatureF" />
                        <input class="form-control" type="text"
                               placeholder="Summary"
                               @bind="objWeatherForecast.Summary" />
                        <br />
                         Button to save the forecast
                        <button class="btn btn-primary"
                                @onclick="SaveForecast">
                            Save
                        </button>
                    </div>*@
            </div>
        </div>
    </div>
}

