﻿@{
    ViewData["Title"] = "Reservation Policy";
}
<h1>@ViewData["Title"]</h1>

<a href="javascript:myFunction();">Booking Grid</a>
<br />
@*<a href="javascript:closeBooking();">Close Booking</a>
<p>Use this page to test only.</p>
<br />
<br />
<a href="javascript:open_a_booking('1234','1234', 'yohandavid');">Booking Main View</a>
<br />
<a href="javascript:reload_page()">reload</a>
<br />
<a href="javascript:alert100()">alert100</a>
<br />*@


<input id="width" />
<input id="height" />


<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="~/js/moment.js"></script>
<script src="~/js/bookingAlerts.js"></script>

<script type="text/javascript">
    $(document).ready(function () {

        $("#width").val($(window).width());
        $("#height").val($(window).height());

    });

    function myFunction() {
        // window.location.href = "/Booking/BookingGrid/" + $(window).height() + "/" + $(window).width();
        //var a_ref = "/Booking/BookingGrid/" + $(window).height() + "/" + $(window).width() + "/" + moment().utc().format('H:mm:ss') + "/" + moment().format('sHHmm');
        //   a_ref = "/Booking/TestGrid/" + $(window).height() + "/" + $(window).width();
        //   openOnce(a_ref,"BookingGridWindow");
        $.ajax({
            url: "https://www.ezybookings.com.au/ezyrez_onlineM/wsdtutc.asmx/UTCNow",
            data: { a_in: 'qwQ4fsdfw4c256267', a_format: 'H:mm:ss' },
            dataType: 'xml',
            success: function (result) {
                var a_ref = "/Booking/BookingGrid/" + $(window).height() + "/" + $(window).width() + "/" + result.documentElement.textContent + "/" + moment().format('sHHmm');
                //alert(result.documentElement.textContent);
                BookingGridWindow = window.open(a_ref, "_blank");
            }
        });

        //BookingGridWindow = window.open(a_ref, "_blank");

        //  window.open(a_ref, 'BookingGrid', 'location = no, scrollbars = yes, status = yes, toolbar = no, resizable = yes, height = ' + screen.height + ', width = ' + screen.width);
        // return false;
    }

    function closeBooking() {

        BookingGridWindow.close();
    }

    function reload_page() {

        window.location.reload(true);
        window.location.href = window.location.href.replace(/#.*$/, '');
        alert('done');
    }

    function openOnce(url, target) {
        // open a blank "target" window
        // or get the reference to the existing "target" window
        var winref = window.open('', target, '', true);

        // if the "target" window was just opened, change its url
        if (winref.location.href === 'about:blank') {
            winref.location.href = url;
        }
        return winref;
    }


</script>
