﻿@page "/bookings/bookingdetail/{pbookingid}/{pguestname}"
@inherits BookingDetailBase
@inject IJSRuntime aJsRuntime


@using Syncfusion.Blazor
@using Syncfusion.Blazor.Calendars
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.DropDowns
@using System.Globalization
@using Microsoft.VisualBasic;
@using Syncfusion.Blazor.SplitButtons
@using Syncfusion.Blazor.Popups
<div id="wrapper">
    <div class="col-12 " style="padding:0px">
        <div id="header" style="background-color:midnightblue; height:45px">
            <table width="100%">
                <tr>
                    <td> <span id="hamburger1" class="fa fa-angle-double-right fa-2x" @onclick="@Toggle" style="cursor :pointer; color:white"></span>  </td>
                    @*<td> <span class="fa fa-arrow-circle-right " style="cursor :pointer; color:forestgreen;   background-color: #E3F2FD;  border-radius: 25px;"> Check In  </span>     </td>*@
                    @*<td> <button class="btn booking_checkinout"><i class="fa fa-arrow-circle-right fa fa-2x" style="color:forestgreen"></i>Check In</button> </td>
                        <td> <button class="btn booking_checkinout"><i class="fa fa-undo fa fa-2x" style="color:orangered"></i>Cancel Changes</button> </td>
                        <td> <button class="btn booking_checkinout"><i class="fa fa-save fa fa-2x" style="color:green"></i>Save Changes</button> </td>*@
                    <td><div style="width:18px"></div></td>
                    <td style="padding-top:6px">
                        @*<a><i class="fa fa-toggle-right fa fa-2x" style="color:darkblue"></i>Save and Close</a>*@
                        <div class="horizontal-menu">
                            <SfMenu Items="@CheckInMenuItem" Orientation="@Orientation"></SfMenu>
                        </div>
                    </td>
                    <td style="padding-top:6px;text-align :right">
                        @*<a><i class="fa fa-toggle-right fa fa-2x" style="color:darkblue"></i>Save and Close</a>*@
                        <div class="horizontal-menu">
                            <SfMenu Items="@SaveCloseMenuItem" Orientation="@Orientation" @ref="MenuObj">
                                <MenuEvents OnItemRender="@MenuItemRender"></MenuEvents>
                            </SfMenu>
                        </div>
                    </td>
                    <td style="text-align :right;padding-top:6px "> <button class="opensidebtn" style="padding-top:0px" @onclick="OpenSideBookingPanelNow"><i class="fa fa-navicon" style="background-color :midnightblue; color:white"></i></button>  </td>
                </tr>
            </table>

            <!--<span id="hamburger1" class="fa fa-angle-double-right fa-2x" @onclick="@Toggle" style="cursor :pointer; color:white"></span>
            <ul class="header-list">-->
            @*<input type="text" placeholder="Search..." class="search-icon list">*@
            @*<li class="right-header list">
                    <div class="horizontal-menu">
                        <SfMenu Items="@AccountMenuItems" Orientation="@Orientation"></SfMenu>
                    </div>
                </li>*@
            @*  <li class="right-header list "></li>
                <li class="right-header list tour">Tour</li>*@
            <!--</ul>-->
        </div>
        <!-- sidebar element declaration     -->
        <SfSidebar HtmlAttributes="@HtmlAttribute" Position="SidebarPosition.Left" Width="244px" ShowBackdrop="true" Type="SidebarType.Over" CloseOnDocumentClick="true" @ref="Sidebar">
            <ChildContent>
                <div style="height:80px; text-align:left; padding:15px;">
                    <span id="close" class="fa fa-close fa-2x" @onclick="@Close" style="cursor :pointer"></span>
                </div>
                <br />
                <br />
                <div>
                    <SfMenu Items="@MainMenuItems" Orientation="@VerOrientation"></SfMenu>
                </div>
            </ChildContent>
        </SfSidebar>
        <!-- end of sidebar element -->
        <!-- main content declaration -->
        <div class="main-content" id="maintext" style="height:800px">
            <br />
            <SfTab @ref="TabObj" CssClass="e-fill">
                <TabItems>
                    <TabItem>
                        <HeaderTemplate>Booking Details</HeaderTemplate>
                        <ContentTemplate>
                            <BookingDetailTab Guestname="@Guestname"  />
                        </ContentTemplate>
                    </TabItem>
                    <TabItem>
                        <HeaderTemplate>Additional Guest Information</HeaderTemplate>
                        <ContentTemplate>
                            Additional Guest Information
                        </ContentTemplate>
                    </TabItem>
                    <TabItem>
                        <HeaderTemplate>Account</HeaderTemplate>
                        <ContentTemplate>
                            aaa
                        </ContentTemplate>
                    </TabItem>
                    <TabItem>
                        <HeaderTemplate>Interfaces</HeaderTemplate>
                        <ContentTemplate>
                            iiiii
                        </ContentTemplate>
                    </TabItem>
                    <TabItem>
                        <HeaderTemplate>House Keeping</HeaderTemplate>
                        <ContentTemplate>
                            hhh kkk
                        </ContentTemplate>
                    </TabItem>
                    <TabItem>
                        <HeaderTemplate>Task / Notes</HeaderTemplate>
                        <ContentTemplate>
                            ttttt
                        </ContentTemplate>
                    </TabItem>
                    <TabItem>
                        <HeaderTemplate>History</HeaderTemplate>
                        <ContentTemplate>
                            thistory
                        </ContentTemplate>
                    </TabItem>
                </TabItems>
            </SfTab>
            <!--<div class="content">
                <div> Responsive Sidebar with Menu</div>

            </div>

            <div class="row">
                <div class="col-md-12" style="height :30px; ">
                    Guest Name: @pBookingGuestName;
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" style="height :30px; ">
                    Booking Id:@pBookingId;
                </div>
            </div>
            <div class="row">-->
            @* <button type="button" class="btn btn-danger">Danger</button>*@
            <!--</div>-->
        </div>
        <!--end of main content declaration -->
    </div>
</div>
<BookingMainSidePanel @ref="@Bside1" />

@code {
    public BookingMainSidePanel Bside1;

    SfTab TabObj;

    SfSidebar Sidebar;
    SfMenu MenuObj;

    public Orientation Orientation = Orientation.Horizontal;
    public Orientation VerOrientation = Orientation.Vertical;
    Dictionary<string, object> HtmlAttribute = new Dictionary<string, object>()
{
        {"class", "sidebar-menu" }
    };

    private void MenuItemRender(MenuEventArgs<MenuItemModel> args)
    {
        HideItems(false);
    }

    public void HideItems( bool a_in)
    {
        string[] SubMenuItem = new string[] { "Cancel Changes", "Save Changes", "Save and Close" };
        if (MenuObj != null)
        {
            // this.MenuObj.HideItems(SubMenuItem, false);
            this.MenuObj.EnableItems(SubMenuItem, a_in, false);
        }
        //this.MenuObj.ShowItems(Items, false);
    }

    public async void OpenSideBookingPanelNow()
    {
        try
        {
            HideItems(true);
            Bside1.RefreshMe();
            await aJsRuntime.InvokeVoidAsync("openSidePanel");
        }
        catch (Exception aa)
        {
            var bb = aa.Message;
            //throw;
        }
    }

    public async void Close()
    {
        await this.Sidebar.Hide();
    }

    public List<MenuItem> CheckInMenuItem = new List<MenuItem>
{
         new MenuItem {
            Text = "Check In",
            IconCss = "fa fa-arrow-circle-right greeniconcolor",
            },
        new MenuItem {
            Text = "Cancel Booking",
            IconCss = "fa fa-times-circle rediconcolor",
            },

        new MenuItem {
            Text = "Print / Send", IconCss = "fa fa-print blueiconcolor ",
                Items = new List<MenuItem> {
                    new MenuItem{ Text = "Guest Registration" , IconCss= "fa fa-calendar-plus-o "},
                    new MenuItem{ Text = "Email" },
                    new MenuItem{ Text = "Print Statement" },
                    new MenuItem{ Text = "Email Statement" }
                }
            },
        new MenuItem {
            Text = "Options", IconCss = "fa fa-cog blueiconcolor ",
                Items = new List<MenuItem> {
                    new MenuItem{ Text = "Make This Booking a Group Booking" , IconCss= "fa fa-calendar-plus-o "},
                    new MenuItem{ Text = "Add This Booking To An Exsting Booking" },
                    new MenuItem{ Text = "Remove This Booking From Group" },
                    new MenuItem{ Text = "Duplicate Booking" }
                }
            }
    };


    public List<MenuItem> SaveCloseMenuItem = new List<MenuItem> {
        new MenuItem {
            Text = "Cancel Changes", IconCss = "fa fa-undo  orangeiconcolor "
        },
         new MenuItem {
            Text = "Save Changes", IconCss = "fa fa-save greeniconcolor "
        },
        new MenuItem {
            Text = "Save and Close", IconCss = "fa fa-toggle-right  greeniconcolor "
        }
    };


    public List<MenuItem> AccountMenuItems = new List<MenuItem> {
        new MenuItem {
            Text = "Account",
            Items = new List<MenuItem> {
                new MenuItem { Text = "Profile" },
                new MenuItem { Text = "Sign out" }
            }
        }
    };
    public List<MenuItem> MainMenuItems = new List<MenuItem>{
        new MenuItem {
            Text = "Create New Booking", IconCss = "fa fa-calendar-plus-o whiteiconcolor ",
                Items = new List<MenuItem> {
                    new MenuItem{ Text = "New Booking" , IconCss= "fa fa-calendar-plus-o "},
                    new MenuItem{ Text = "New Group Booking" },
                    new MenuItem{ Text = "New Group Booking (Using Multi Booking Wizard)" },
                    new MenuItem{ Text = "New Enquiry" }
                }
            },
        new MenuItem {
            Text = "Booking Search",
            IconCss = "fa fa-search"
            }
        ,
        new MenuItem {
            Text = "Room Search",
            IconCss = "fa fa-bed "
        },
        new MenuItem {
            Text = "Allotment",
            IconCss =  "fa fa-tasks "
        },
        new MenuItem {
            Text = "Facility Hire",
            IconCss = "fa fa-calendar-check-o "
        },
        new MenuItem {
            Text = "Process / Options",
            IconCss = "fa fa-folder-open",
            Items = new List<MenuItem> {
                new MenuItem{ Text = "Add Name" },
                new MenuItem{ Text = "Add Mobile Number" }
            }
        },
        new MenuItem {
            Text = "Booking Rates",
            IconCss = "fa fa-tasks",
        },
       new MenuItem {
            Text = "Tariffs",
            IconCss = "fa fa-tasks ",
        },
        new MenuItem {
            Text = "Settings",
            IconCss = "fa fa-cogs",
            Items = new List<MenuItem> {
                new MenuItem{ Text = "Change Profile" },
                new MenuItem{ Text = "Add Name" },
                new MenuItem{ Text = "Add Details" }
            }
        },
        new MenuItem {
            Text = "Info",
            IconCss = "fa fa-asterisk",
            Items = new List<MenuItem> {
                new MenuItem{ Text = "Facebook" },
                new MenuItem{ Text = "Mobile" }
            }
        }
    };
    public void Toggle()
    {
        this.Sidebar.Toggle();
    }
}
<style>
    /*====================================================================*/

    /*height of the main content is set here (800)- see div above */
    /* main-content" id="maintext" style="height:800px"*/

    /*height of a tab*/
    .e-item.e-active {
        height: 800px;
    }
    /*space between rows (textbox,label)*/
    .form-group {
        margin-bottom: 4px;
    }
    /*====================================================================*/

    .booking_checkinout {
        background-color: #E3F2FD;
        border-radius: 24px;
        height: 34px;
        padding: 1px;
        font-size: 15px;
    }

    .fa-2x {
        vertical-align: middle;
    }

    .whiteiconcolor {
        color: white !important
    }

    .blueiconcolor {
        color: blue !important;
        font-size: 20px !important;
    }

    .rediconcolor {
        color: red !important;
        font-size: 24px !important;
    }

    .orangeiconcolor {
        color: orange !important;
        font-size: 24px !important;
    }

    .greeniconcolor {
        color: forestgreen !important;
        font-size: 24px !important;
    }

    #header #hamburger1 {
        font-size: 24px;
        float: left;
        padding-left: 15px;
        line-height: 45px;
    }

    #header .right-header {
        height: 35px;
        padding: 5px;
        float: right;
    }

    #header .list {
        list-style: none;
        cursor: pointer;
        font-size: 16px;
        line-height: 35px;
    }

    @@media(max-width:500px) {
        #header .right-header.list.support,
        #header .right-header.list.tour {
            display: none;
        }
    }

    /* end of text input styles */
    /* end of header-section styles */
    /* content area styles */
    #maintext.main-content {
        height: 100vh;
        z-index: 1000;
    }

    /* end of content area styles */
    /* menu styles */
    /* horizontal-menu styles */
    #header .header-list .horizontal-menu .e-menu-item {
        height: 35px;
        vertical-align: middle;
        font-size: 16px;
        line-height: 35px;
    }

    /* #header .e-menu-item .e-caret {
            line-height: 35px;
        }*/
    /* end of horizontal-menu styles */
    /* vertical-menu styles */
    .sidebar-menu .e-menu-wrapper ul .e-menu-item.e-menu-caret-icon {
        width: 244px;
    }

    .sidebar-menu {
        padding-left: 4px;
    }
    /*  .sidebar-menu .e-menu-wrapper ul .e-menu-item:hover, .e-menu-wrapper ul .e-menu-item.e-focused:hover {
            background-color: #3e454c !important;
        }

        .e-menu-wrapper ul .e-menu-item.e-selected {
            background-color: #3e454c !important;
        }*/
    /* end of vertical-menu styles */
    /* end of menu styles */
    /* Sidebar styles */
    /* docksidebar styles */
    .e-menu-wrapper ul .e-menu-item .e-caret,
    #header .e-menu-item .e-caret,
    .e-menu-wrapper ul .e-menu-item {
        color: #fff !important;
    }

        /* .e-close .e-menu-wrapper ul .e-menu-item {
            width: 50px;
        }

        .e-close ul .e-menu-item.e-menu-caret-icon {
            padding-right: 12px;
        }*/

        /*  .sidebar-menu.e-dock.e-close .e-menu-wrapper ul .e-menu-item .e-caret,
        .sidebar-menu.e-dock.e-close .main-menu-header
        {
            display: none;
        }

        .sidebar-menu.e-dock.e-close .e-menu-wrapper ul .e-menu-item.e-menu-caret-icon,
        .sidebar-menu.e-dock.e-close .e-menu-wrapper ul.e-vertical {
            min-width: 0;
            width: 50px !important;
        }
    */
        /*    .sidebar-menu.e-dock.e-close .e-menu-wrapper ul.e-menu {
            font-size: 0;
        }*/

        /*    .sidebar-menu.e-dock.e-close .e-menu-item .e-menu-icon {
            font-size: 20px;
            padding: 0;
        }*/

        .e-menu-wrapper ul .e-menu-item.e-focused {
            background-color: dimgray !important;
        }

    .sidebar-menu, #header ul, .e-menu-wrapper, .e-menu-wrapper ul {
        background-color: midnightblue !important;
        color: #fff !important;
        overflow: hidden;
    }
    /*   .sidebar-menu .main-menu-header {
                background-color: grey !important;
                color: #fff !important;
         }*/
    /*   end of docksidebar styles   #33383e */
    /*end of  Sidebar styles */

</style>