﻿@inherits BookingDetailTabBase
@inject IJSRuntime aJsRuntime


@using Syncfusion.Blazor
@using Syncfusion.Blazor.Calendars
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.DropDowns
@using System.Globalization
@using Microsoft.VisualBasic
@using REIMaster.Interfaces.Models.Bookings

<div class="container-fluid" style="background-color:white">
    <div class="row">
        @* Model="@employeeDetails" OnValidSubmit="@Submit"    *@
        <EditForm Model="@employeeDetails" AdditionalAttributes="aHtmlAttribute">
            <DataAnnotationsValidator />
            @* ============================================================================================= *@
            @* left side *@
            <div class="col-md-6 pull-left">
                <div style="height:10px"></div>
                @* Bookign  Number *@
                <div class="form-group row">
                    <label class="col-md-3  col-form-label">Booking Number</label>
                    <div class="col-md-4">
                        <label style="background-color:lightgray;width: 100%; height: 100%;padding-top: 8px; text-align: right;  padding-right: 5px;">0</label>
                    </div>
                    <div class="col-md-5  ">
                        <button class=" btn btn-info" style="font-size: 14px;"><i class="fa fa-binoculars"></i> Return Guest</button>
                    </div>
                </div>
                @* Surname *@
                <div class="form-group row">
                    <label class="col-md-3  col-form-label">Surname</label>
                    <div class="col-md-9">
                        <SfTextBox @bind-Value="@Guestname"></SfTextBox>
                        <ValidationMessage For="@(() => employeeDetails.LastName)"></ValidationMessage>
                    </div>
                </div>
                @* Tytle / First Name *@
                <div class="form-group row">
                    <label class="col-md-3  col-form-label">Title/ First Name(s)</label>
                    <div class="col-md-2">
                        <SfTextBox @bind-Value="@employeeDetails.FirstName"></SfTextBox>
                        <ValidationMessage For="@(() => employeeDetails.FirstName)"></ValidationMessage>
                    </div>
                    <div class="col-md-7">
                        <SfTextBox @bind-Value="@employeeDetails.FirstName"></SfTextBox>
                        <ValidationMessage For="@(() => employeeDetails.FirstName)"></ValidationMessage>
                    </div>
                </div>
                @* Slutation *@
                <div class="form-group row">
                    <label class="col-md-3  col-form-label">Salutation</label>
                    <div class="col-md-9">
                        <SfTextBox @bind-Value="@employeeDetails.City"></SfTextBox>
                        <ValidationMessage For="@(() => employeeDetails.City)"></ValidationMessage>
                    </div>
                </div>
                @* Company Checkbox *@
                <div class="form-group row">
                    <label class="col-md-3  col-form-label"></label>
                    <div class="col-md-9">
                        <SfCheckBox Label="Company Booking" LabelPosition="LabelPosition.After" @bind-Checked="isRightChecked"></SfCheckBox>
                    </div>
                </div>
                @* Company *@
                <div class="form-group row">
                    <label class="col-md-3  col-form-label">Company</label>
                    <div class="col-md-9">
                        <SfTextBox @bind-Value="@employeeDetails.City"></SfTextBox>
                        <ValidationMessage For="@(() => employeeDetails.City)"></ValidationMessage>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3  col-form-label">File As</label>
                    <div class="col-md-9">
                        <SfTextBox @bind-Value="@employeeDetails.City"></SfTextBox>
                        <ValidationMessage For="@(() => employeeDetails.City)"></ValidationMessage>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3  col-form-label">Postal Address 1</label>
                    <div class="col-md-9">
                        <SfTextBox @bind-Value="@employeeDetails.City"></SfTextBox>
                        <ValidationMessage For="@(() => employeeDetails.City)"></ValidationMessage>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3  col-form-label">Postal Address 2</label>
                    <div class="col-md-9">
                        <SfTextBox @bind-Value="@employeeDetails.City"></SfTextBox>
                        <ValidationMessage For="@(() => employeeDetails.City)"></ValidationMessage>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3  col-form-label">Suburb</label>
                    <div class="col-md-9">
                        <SfTextBox @bind-Value="@employeeDetails.City"></SfTextBox>
                        <ValidationMessage For="@(() => employeeDetails.City)"></ValidationMessage>
                    </div>
                </div>
                @* STATE *@
                <div class="form-group row">
                    <label class="col-md-3  col-form-label">State</label>
                    <div class="col-md-4">
                        <SfTextBox @bind-Value="@employeeDetails.City"></SfTextBox>
                        <ValidationMessage For="@(() => employeeDetails.City)"></ValidationMessage>
                    </div>
                    <div class="col-md-2" style="padding: 0px !important">
                        <button class=" btn btn-info" style="height: 90%; padding-top: 4px; font-size: 14px;">Post Code</button>
                    </div>
                    <div class="col-md-3">
                        <SfTextBox @bind-Value="@employeeDetails.City"></SfTextBox>
                        <ValidationMessage For="@(() => employeeDetails.City)"></ValidationMessage>
                    </div>
                </div>
                @* Country *@
                <div class="form-group row">
                    <label class="col-md-3  col-form-label">Country</label>
                    <div class="col-md-9">
                        <SfTextBox @bind-Value="@employeeDetails.City"></SfTextBox>
                        <ValidationMessage For="@(() => employeeDetails.City)"></ValidationMessage>
                    </div>
                </div>
                @* mobile *@
                <div class="form-group row">
                    <label class="col-md-3  col-form-label">Mobile</label>
                    <div class="col-md-6">
                        <SfTextBox @bind-Value="@employeeDetails.City"></SfTextBox>
                        <ValidationMessage For="@(() => employeeDetails.City)"></ValidationMessage>
                    </div>
                    <div class="col-md-1" style="padding-top: 4px !important;">
                        <SfCheckBox Label="SMS" LabelPosition="LabelPosition.After" @bind-Checked="isSMSChecked"></SfCheckBox>
                    </div>
                    <div class="col-md-2" style=" text-align: end;">
                        <button class=" btn btn-info" style="height: 90%; padding-top: 4px; font-size: 14px;">SMS</button>
                    </div>
                </div>
                @* phone(home) *@
                <div class="form-group row">
                    <label class="col-md-3  col-form-label">Phone (Home)</label>
                    <div class="col-md-7">
                        <SfTextBox @bind-Value="@employeeDetails.City"></SfTextBox>
                        <ValidationMessage For="@(() => employeeDetails.City)"></ValidationMessage>
                    </div>
                    <div class="col-md-2" style=" text-align: end;">
                        <button type="button" class="btn btn-info" style="height: 90%; padding-top: 4px; font-size: 14px;"><i class="fa fa-phone"></i></button>
                    </div>
                </div>
                @* phone(work) *@
                <div class="form-group row">
                    <label class="col-md-3  col-form-label">Phone (Work)</label>
                    <div class="col-md-7">
                        <SfTextBox @bind-Value="@employeeDetails.City"></SfTextBox>
                        <ValidationMessage For="@(() => employeeDetails.City)"></ValidationMessage>
                    </div>
                    <div class="col-md-2" style=" text-align: end;">
                        <button type="button" class="btn btn-info" style="height: 90%; padding-top: 4px; font-size: 14px;"><i class="fa fa-phone"></i></button>
                    </div>
                </div>
                @* fax*@
                <div class="form-group row">
                    <label class="col-md-3  col-form-label">Fax</label>
                    <div class="col-md-7">
                        <SfTextBox @bind-Value="@employeeDetails.City"></SfTextBox>
                        <ValidationMessage For="@(() => employeeDetails.City)"></ValidationMessage>
                    </div>
                    <div class="col-md-2" style=" text-align: end;">
                        <button type="button" class="btn btn-info" style="height: 90%; padding-top: 4px; font-size: 14px;"><i class="fa fa-fax"></i></button>
                    </div>
                </div>
                @* email*@
                <div class="form-group row">
                    <label class="col-md-3  col-form-label">Email</label>
                    <div class="col-md-7">
                        <SfTextBox @bind-Value="@employeeDetails.City"></SfTextBox>
                        <ValidationMessage For="@(() => employeeDetails.City)"></ValidationMessage>
                    </div>
                    <div class="col-md-2" style=" text-align: end;">
                        <button type="button" class="btn btn-info" style="height: 90%; padding-top: 4px; font-size: 14px;"><i class="fa fa-envelope-o"></i></button>
                    </div>
                </div>
                @* Car rego *@
                <div class="form-group row">
                    <label class="col-md-3  col-form-label">Car Rego</label>
                    <div class="col-md-9">
                        <SfTextBox @bind-Value="@employeeDetails.City"></SfTextBox>
                        <ValidationMessage For="@(() => employeeDetails.City)"></ValidationMessage>
                    </div>
                </div>

                @*<div class="row">
                    <div class="form-group">
                        <SfButton Type="submit" IsPrimary=true>Save</SfButton>
                    </div>
                    </div>*@
            </div>
            @* ============================================================================================= *@
            @* right side *@
            <div class="col-md-6 pull-right">
                <div style="height:10px"></div>
                @* Arrive *@
                <div class="form-group row">
                    <label class="col-md-3  col-form-label">Arrives</label>
                    <div class="col-md-9">
                        <SfDateTimePicker TValue="DateTime?" Placeholder='Select arrival Date/Time'></SfDateTimePicker>
                        <ValidationMessage For="@(() => employeeDetails.City)"></ValidationMessage>
                    </div>
                </div>
                @* Nigths *@
                <div class="form-group row">
                    <label class="col-md-3  col-form-label">Nights</label>
                    <div class="col-md-2">
                        <SfTextBox @bind-Value="@employeeDetails.City"></SfTextBox>
                        <ValidationMessage For="@(() => employeeDetails.City)"></ValidationMessage>
                    </div>
                </div>
                @* Depart *@
                <div class="form-group row">
                    <label class="col-md-3  col-form-label">Departs</label>
                    <div class="col-md-9">
                        <SfDateTimePicker TValue="DateTime?" Placeholder='Select departure Date/Time'></SfDateTimePicker>
                        <ValidationMessage For="@(() => employeeDetails.City)"></ValidationMessage>
                    </div>
                </div>
                @* Agents *@
                <div class="form-group row">
                    <label class="col-md-3  col-form-label">Agents</label>
                    <div class="col-md-5">
                        <SfTextBox @bind-Value="@employeeDetails.City"></SfTextBox>
                        <ValidationMessage For="@(() => employeeDetails.City)"></ValidationMessage>
                    </div>
                </div>
                @* Agent Reference *@
                <div class="form-group row">
                    <label class="col-md-3  col-form-label">Agent Reference</label>
                    <div class="col-md-5">
                        <SfTextBox @bind-Value="@employeeDetails.City"></SfTextBox>
                        <ValidationMessage For="@(() => employeeDetails.City)"></ValidationMessage>
                    </div>
                </div>
                @* Region *@
                <div class="form-group row">
                    <label class="col-md-3  col-form-label">Region</label>
                    <div class="col-md-5">
                        <SfComboBox TValue="string" TItem="RegionEntry" Placeholder="Select a region" DataSource="@RegionData">
                            <ComboBoxFieldSettings Value="ID" Text="Text"></ComboBoxFieldSettings>
                        </SfComboBox>
                        <ValidationMessage For="@(() => employeeDetails.City)"></ValidationMessage>
                    </div>
                </div>
                @* Bookign Source *@
                <div class="form-group row">
                    <label class="col-md-3  col-form-label" style="margin-top: 18px;">Booking Source</label>
                    <div class="col-md-9">
                        <table style="padding:0px; width:100%">
                            <tr>
                                <td>Primary Source</td>
                                <td>2nd Source</td>
                                <td>3rd Source</td>
                            </tr>
                            <tr>
                                <td>
                                    <SfComboBox TValue="string" TItem="RegionEntry" DataSource="@RegionData">
                                        <ComboBoxFieldSettings Value="ID" Text="Text"></ComboBoxFieldSettings>
                                    </SfComboBox>
                                </td>
                                <td>
                                    <SfComboBox TValue="string" TItem="RegionEntry" DataSource="@RegionData">
                                        <ComboBoxFieldSettings Value="ID" Text="Text"></ComboBoxFieldSettings>
                                    </SfComboBox>
                                </td>
                                <td>
                                    <SfComboBox TValue="string" TItem="RegionEntry" DataSource="@RegionData">
                                        <ComboBoxFieldSettings Value="ID" Text="Text"></ComboBoxFieldSettings>
                                    </SfComboBox>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                @* Select Unit / FDO not move Checkboxes *@
                <div class="form-group row">
                    <label class="col-md-3  col-form-label"></label>
                    <div class="col-md-4">
                        <SfCheckBox Label="Select Unit" LabelPosition="LabelPosition.After" @bind-Checked="isSelectUnitFalse"></SfCheckBox>
                    </div>
                    <div class="col-md-4">
                        <SfCheckBox Label="Do Not Move" LabelPosition="LabelPosition.After" @bind-Checked="isDoNotMoveChecked"></SfCheckBox>
                    </div>
                </div>
                @* Unit Type *@
                <div class="form-group row">
                    <label class="col-md-3  col-form-label">Unit Type</label>
                    <div class="col-md-6">
                        <SfComboBox TValue="string" TItem="RegionEntry" DataSource="@RegionData">
                            <ComboBoxFieldSettings Value="ID" Text="Text"></ComboBoxFieldSettings>
                        </SfComboBox>
                        <ValidationMessage For="@(() => employeeDetails.City)"></ValidationMessage>
                    </div>
                    <div class="col-md-3" style=" text-align: end;">
                        <button type="button" class="btn btn-info" style="height: 90%; padding-top: 4px; font-size: 14px;">Select Unit</button>
                    </div>
                </div>
                @* Selected Unit *@
                <div class="form-group row">
                    <label class="col-md-3  col-form-label">Selected Unit</label>
                    <div class="col-md-3">
                        <label style="background-color:lightgray;width: 100%; height: 100%;padding-top: 8px; text-align: left;  padding-right: 5px;">2245</label>
                    </div>
                    <div class="col-md-3">
                        <label style="background-color:lightgray;width: 100%; height: 100%;padding-top: 8px; text-align: left;  padding-right: 5px;">2458</label>
                    </div>
                    <div class="col-md-3">
                        <label style="background-color:wheat;width: 100%; height: 100%;padding-top: 8px; text-align: left;  padding-right: 5px;">4BS-R</label>
                    </div>
                </div>
                @* Number of Guests *@
                <div class="form-group row">
                    <label class="col-md-3  col-form-label" style="margin-top: 18px;">Number Of Guests</label>
                    <div class="col-md-5">
                        <table style="padding:0px; width:100%">
                            <tr>
                                <td>Total</td>
                                <td>Adults</td>
                                <td>Children</td>
                                <td>Infants</td>
                            </tr>
                            <tr>
                                <td style="width:40px">
                                    <label style="background-color: lightgray; width: 100%; height: 30px; padding-top: 5px; text-align: center; margin: 1px;">7</label>
                                </td>
                                <td>
                                    <SfTextBox @bind-Value="@employeeDetails.City"></SfTextBox>
                                    <ValidationMessage For="@(() => employeeDetails.City)"></ValidationMessage>
                                </td>
                                <td>
                                    <SfTextBox @bind-Value="@employeeDetails.City"></SfTextBox>
                                    <ValidationMessage For="@(() => employeeDetails.City)"></ValidationMessage>
                                </td>
                                <td>
                                    <SfTextBox @bind-Value="@employeeDetails.City"></SfTextBox>
                                    <ValidationMessage For="@(() => employeeDetails.City)"></ValidationMessage>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                @* Hide Tariff one Guest RegistarionCheckboxe *@
                <div class="form-group row">
                    <label class="col-md-3  col-form-label"></label>
                    <div class="col-md-8">
                        <SfCheckBox Label="Hide Tariff On Guest Registration Form" LabelPosition="LabelPosition.After" @bind-Checked="isHideTariffChecked"></SfCheckBox>
                    </div>
                </div>
                 @* Selected Rate *@
                <div class="form-group row">
                    <label class="col-md-3  col-form-label">Selected Rate</label>
                    <div class="col-md-5">
                        <label style="background-color:lightgray;width: 100%; height: 100%;padding-top: 8px; text-align: left;  padding-right: 5px;">4BDRS FLEX STAY AND PLAY</label>
                    </div>
                    <div class="col-md-3" style=" text-align: end;">
                        <button type="button" class="btn btn-info" style="height: 90%; padding-top: 4px; font-size: 14px;">Rate Search</button>
                    </div>
                </div>




            </div>


            @* ============================================================================================= *@
        </EditForm>
    </div>
    @*<div class="row">
            <div class="col-12 " style="padding:0px; height:30px">
                Booking Id:34556;
            </div>
        </div>*@

</div>
<style>
    /*make check box bigger - start*/
    .e-checkbox-wrapper .e-icons.e-frame.e-check {
        height: 20px;
        width: 20px;
        padding: 3px;
        font-size: 12px;
    }

    .e-checkbox-wrapper .e-icons.e-frame {
        height: 20px;
        width: 20px;
    }

    .col-form-label {
        font-size: 13px;
    }
    /*make check box bigger - end*/
</style>
@code{

    Dictionary<string, object> aHtmlAttribute = new Dictionary<string, object>()
{
        { "style", "width: 100%; " }
    };

    EmployeeDetails employeeDetails;
    protected override void OnInitialized()
    {
        employeeDetails = new EmployeeDetails();
    }

    private bool isRightChecked = true;
    private bool isSMSChecked = false;
    private bool isSelectUnitFalse = false;
    private bool isDoNotMoveChecked = false;
    private bool isHideTariffChecked = false;
    public class RegionEntry
    {
        public string ID { get; set; }
        public string Text { get; set; }
    }
    List<RegionEntry> RegionData = new List<RegionEntry> {
    new RegionEntry() { ID= "1", Text= "QLD" },
    new RegionEntry() { ID= "2", Text= "NSW" },
    new RegionEntry() { ID= "3", Text= "VIC" },
    new RegionEntry() { ID= "4", Text= "New Zealand" },
    new RegionEntry() { ID= "5", Text= "USA" }
  };


}