﻿@page "/bookings/bookingchangemessage/{bookingid}"
@inherits BookingChangeMessageBase
@inject IJSRuntime aJsRuntime

@using Syncfusion.Blazor
@using Syncfusion.Blazor.Schedule
@using Syncfusion.Blazor.Calendars
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.DropDowns
@using System.Globalization
@using Microsoft.VisualBasic;
@using Syncfusion.Blazor.SplitButtons
@using Syncfusion.Blazor.Popups


@* pop up dialog  https://docs.microsoft.com/en-us/aspnet/core/blazor/event-handling?view=aspnetcore-3.1 *@
<SfDialog Target="#target" Width="410px" @bind-Visible="@DialogVisible" AllowDragging="true" ShowCloseIcon="true" Height="290px" IsModal="true">
    <DialogTemplates>
        <Header><div style="color:white;white-space:normal; text-overflow: ellipsis; height:38px">@SimplePopupHeader</div> </Header>
        <Content><i class="fa @SimplePopupImage fa-2x" style="color:@SimplePopupHeaderIconColor"></i> @SimplePopupContent </Content>
        <FooterTemplate>

            <div class="row">
                @if (@SimplePopupIsBookingChangeMessage)
                {
                    msgColWidth = "4";
                    <div class="col-8 text-left">
                        @if (SimplePopupCheckBox1Visible)
                        {
                            <SfCheckBox CssClass="e-chkcustomsize" Label="Recalculate Accommmodation Tariff" @bind-Checked="@SimplePopupCheckBox1"></SfCheckBox><br />
                        }
                        @if (SimplePopupCheckBox2Visible)
                        {
                            <SfCheckBox CssClass="e-chkcustomsize" Label="Remove & Re-apply Linked Charges" @bind-Checked="@SimplePopupCheckBox2"></SfCheckBox><br />
                        }
                        @if (SimplePopupCheckBox3Visible)
                        {
                            <SfCheckBox CssClass="e-chkcustomsize" Label="Remove & Re-apply Housekeeping" @bind-Checked="@SimplePopupCheckBox3"></SfCheckBox><br />
                        }
                    </div>
                }
                <div class="col-@msgColWidth ">
                    <button class="btn btn-success btn-sm" @onclick="SimplePopupOkClicked">OK</button>
                    @if (@SimplePopupShowCloseButton)
                    {
                        <button class="btn btn-danger btn-sm" @onclick="SimplePopupCancelClicked">Cancel</button>
                    }
                </div>
            </div>
        </FooterTemplate>

    </DialogTemplates>

</SfDialog>
@code
{
    private string msgColWidth = "12";

    private void SimplePopupOkClicked()
    {
        try
        {
            var sqw = SimplePopupCheckBox3;
            this.DialogVisible = false;
        }
        catch (Exception)
        {
        }
    }
    private void SimplePopupCancelClicked()
    {
        try
        {
            this.DialogVisible = false;
        }
        catch (Exception)
        {
        }
    }

}