﻿@layout BookingMainPageLayout
@page "/bookings/bookings/{pbookingid}/{pguestname}"
@inherits BookingsBase
@inject IJSRuntime aJsRuntime

@using Syncfusion.Blazor
@using Syncfusion.Blazor.Schedule
@using Syncfusion.Blazor.Calendars
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.DropDowns
@using System.Globalization
@using Microsoft.VisualBasic;
@using Syncfusion.Blazor.SplitButtons
@using Syncfusion.Blazor.Popups

<div class="row" style="background-color :midnightblue; font-size :smaller ">
    <div class="col">
        <table width="100%">
            <tr>
                <td style="text-align :right "><button class="opensidebtn" @onclick="OpenSideBookingPanelNow"><i class="fa fa-navicon" style="background-color :midnightblue; color:white"></i></button> </td>
           </tr>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-12" style="height :300px; background-color :lightsteelblue;">

        Bookings
    </div>
    <div class="col-md-12" style="height :300px; background-color :lightsteelblue;">
        <button class="btn-info" onclick="window.close()">close nnw</button>
       
    </div>
</div>
<div class="row">
    <div class="col-md-12" style="height :30px; ">
      Guest Name: @pBookingGuestName;
    </div>
</div>
<div class="row">
    <div class="col-md-12" style="height :30px; ">
        Booking Id:@pBookingId;
    </div>
</div>
<BookingMainSidePanel @ref="@Bside1" />


@code{
    public static BookingMainSidePanel Bside1;


    public async void OpenSideBookingPanelNow()
    {
        try
        {
            Bside1.RefreshMe();
            await aJsRuntime.InvokeVoidAsync("openSidePanel");
        }
        catch (Exception aa)
        {
            var bb = aa.Message;
            //throw;
        }
    }


}