﻿@page "/bookings/bookingmainpage/{bookingid}/{guestname}"
@inherits BookingMainPageBase
@inject IJSRuntime aJsRuntime

@using Syncfusion.Blazor
@using Syncfusion.Blazor.Calendars
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.DropDowns
@using System.Globalization
@using Microsoft.VisualBasic;
@using Syncfusion.Blazor.SplitButtons
@using Syncfusion.Blazor.Popups
<div id="wrapper">
    <div class="col-lg-12 col-sm-12 col-md-12" style="padding:0px">
        <div id="header" style="background-color:midnightblue; height:45px">
            <span id="hamburger1" class="fa fa-angle-double-right fa-2x" @onclick="@Toggle" style="cursor :pointer; color:white"></span>
            <ul class="header-list">
                @*<input type="text" placeholder="Search..." class="search-icon list">*@
                <li class="right-header list">
                    <div class="horizontal-menu">
                        <SfMenu  Items="@AccountMenuItems" Orientation="@Orientation"></SfMenu>
                    </div>
                </li>
                @*<li class="right-header list support">Support</li>
                    <li class="right-header list tour">Tour</li>*@
            </ul>
        </div>
        <!-- sidebar element declaration     -->
        <SfSidebar HtmlAttributes="@HtmlAttribute" Position="SidebarPosition.Left" Width="244px" ShowBackdrop="true" Type="SidebarType.Over" CloseOnDocumentClick="true" @ref="Sidebar">
            <ChildContent>
                <div style="height:80px; text-align:right; padding:15px;">
                    <span id="close" class="fa fa-close fa-2x" @onclick="@Close" style="cursor :pointer"></span>
                </div>
                <br />
                <br />
                <div>
                    <SfMenu  Items="@MainMenuItems" Orientation="@VerOrientation"  ></SfMenu>
                </div>


            </ChildContent>
        </SfSidebar>
        <!-- end of sidebar element -->
        <!-- main content declaration -->
        <div class="main-content" id="maintext">
            <div class="content">
                <div> Responsive Sidebar with Menu</div>
            </div>
        </div>
        <!--end of main content declaration -->
    </div>

</div>
@code {
    SfSidebar Sidebar;
    public Orientation Orientation = Orientation.Horizontal;
    public Orientation VerOrientation = Orientation.Vertical;
    Dictionary<string, object> HtmlAttribute = new Dictionary<string, object>()
{
        {"class", "sidebar-menu" }
    };

    public async void Close()
    {
        await this.Sidebar.Hide();
    }

    public List<MenuItem> AccountMenuItems = new List<MenuItem> {
        new MenuItem {
            Text = "Account",
            Items = new List<MenuItem> {
                new MenuItem { Text = "Profile" },
                new MenuItem { Text = "Sign out" }
            }
        }
    };
    public List<MenuItem> MainMenuItems = new List<MenuItem>{
        new MenuItem {
            Text = "Create New Booking", IconCss = "fa fa-calendar-plus-o whiteiconcolor ",
                Items = new List<MenuItem> {
                    new MenuItem{ Text = "New Booking" , IconCss= "fa fa-calendar-plus-o "},
                    new MenuItem{ Text = "New Group Booking" },
                    new MenuItem{ Text = "New Group Booking (Using Multi Booking Wizard)" },
                    new MenuItem{ Text = "New Enquiry" }
                }
            },
        new MenuItem {
            Text = "Booking Search",
            IconCss = "fa fa-search"
            }
        ,
        new MenuItem {
            Text = "Room Search",
            IconCss = "fa fa-bed "
        },
        new MenuItem {
            Text = "Allotment",
            IconCss =  "fa fa-tasks "
        },
        new MenuItem {
            Text = "Facility Hire",
            IconCss = "fa fa-calendar-check-o "
        },
        new MenuItem {
            Text = "Process / Options",
            IconCss = "fa fa-folder-open",
            Items = new List<MenuItem> {
                new MenuItem{ Text = "Add Name" },
                new MenuItem{ Text = "Add Mobile Number" }
            }
        },
        new MenuItem {
            Text = "Booking Rates",
            IconCss = "fa fa-tasks",
        },
       new MenuItem {
            Text = "Tariffs",
            IconCss = "fa fa-tasks ",
        },
        new MenuItem {
            Text = "Settings",
            IconCss = "fa fa-cogs",
            Items = new List<MenuItem> {
                new MenuItem{ Text = "Change Profile" },
                new MenuItem{ Text = "Add Name" },
                new MenuItem{ Text = "Add Details" }
            }
        },
        new MenuItem {
            Text = "Info",
            IconCss = "fa fa-asterisk",
            Items = new List<MenuItem> {
                new MenuItem{ Text = "Facebook" },
                new MenuItem{ Text = "Mobile" }
            }
        }
    };
    public void Toggle()
    {
        this.Sidebar.Toggle();
    }
}
<style>

    .whiteiconcolor {
        color:white !important
    }
    #header #hamburger1 {
        font-size: 24px;
        float: left;
        padding-left: 15px;
        line-height: 45px;
    }

    #header .right-header {
        height: 35px;
        padding: 7px;
        float: right;
    }

    #header .list {
        list-style: none;
        cursor: pointer;
        font-size: 16px;
        line-height: 35px;
    }

    #header .header-list {
        padding-left: 15px;
        margin: 0;
    }

    @@media(max-width:500px) {
        #header .right-header.list.support,
        #header .right-header.list.tour {
            display: none;
        }
    }

    /* end of text input styles */
    /* end of header-section styles */
    /* content area styles */
    #maintext.main-content {
        height: 100vh;
        z-index: 1000;
    }

    #maintext .content {
        margin-top: 230px;
        text-align: center;
        font-size: 32px;
        color: #1784c7;
    }
    /* end of content area styles */
    /* menu styles */
    /* horizontal-menu styles */
    #header .header-list .horizontal-menu .e-menu-item {
        height: 35px;
        vertical-align: middle;
        font-size: 16px;
        line-height: 35px;
    }

    /* #header .e-menu-item .e-caret {
        line-height: 35px;
    }*/
    /* end of horizontal-menu styles */
    /* vertical-menu styles */
    .sidebar-menu .e-menu-wrapper ul .e-menu-item.e-menu-caret-icon {
        width: 244px;
    }
    .sidebar-menu  {
       padding-left:4px;
    }
    /*  .sidebar-menu .e-menu-wrapper ul .e-menu-item:hover, .e-menu-wrapper ul .e-menu-item.e-focused:hover {
        background-color: #3e454c !important;
    }

    .e-menu-wrapper ul .e-menu-item.e-selected {
        background-color: #3e454c !important;
    }*/
    /* end of vertical-menu styles */
    /* end of menu styles */
    /* Sidebar styles */
    /* docksidebar styles */
    .e-menu-wrapper ul .e-menu-item .e-caret,
    #header .e-menu-item .e-caret,
    .e-menu-wrapper ul .e-menu-item {
        color: #fff !important;
    }

   /* .e-close .e-menu-wrapper ul .e-menu-item {
        width: 50px;
    }

    .e-close ul .e-menu-item.e-menu-caret-icon {
        padding-right: 12px;
    }*/

  /*  .sidebar-menu.e-dock.e-close .e-menu-wrapper ul .e-menu-item .e-caret,
    .sidebar-menu.e-dock.e-close .main-menu-header
    {
        display: none;
    }

    .sidebar-menu.e-dock.e-close .e-menu-wrapper ul .e-menu-item.e-menu-caret-icon,
    .sidebar-menu.e-dock.e-close .e-menu-wrapper ul.e-vertical {
        min-width: 0;
        width: 50px !important;
    }
*/
    /*    .sidebar-menu.e-dock.e-close .e-menu-wrapper ul.e-menu {
        font-size: 0;
    }*/

    /*    .sidebar-menu.e-dock.e-close .e-menu-item .e-menu-icon {
        font-size: 20px;
        padding: 0;
    }*/

    .e-menu-wrapper ul .e-menu-item.e-focused {
        background-color: dimgray !important;
    }

    .sidebar-menu, #header ul, .e-menu-wrapper, .e-menu-wrapper ul {
        background-color: midnightblue !important;
        color: #fff !important;
        overflow: hidden;
    }
        /*   .sidebar-menu .main-menu-header {
            background-color: grey !important;
            color: #fff !important;
     }*/
        /*   end of docksidebar styles   #33383e */
        /*end of  Sidebar styles */
  
</style>