﻿@inject IJSRuntime aJsRuntime
@*@inject BookingServices.BookingModuleData pBookingModuleData*@
@inject  Blazored.LocalStorage.ILocalStorageService localStore 

<div id="mySidepanel" class="sidepanel">
    <div class="row">
        <div class="col-6 text-center">
            <button style="color:green; border :none;  background-color: sandybrown; padding-top:5px " @onclick="@(() => RefreshMe())"><i class="fa fa-refresh fa-lg"></i></button>
        </div>
        <div class="col-4 text-center">
            <button style="color:red; border :none; font-size:20px; background-color: sandybrown;" onclick="closeSidePanel()"><i class="fa fa-close fa-lg"></i></button>
        </div>
        @*<div class="col">
             <a href="javascript:void(0)" class="closebtn" onclick="closeSidePanel()">×</a>
        </div>*@
    </div>

    @*<dive class="row">
            <div class="col-md-6 "><button class="btn btn-success" @onclick="@(() => CloseABookingWindow(134566))"> Open Booking</button></div>
        </dive>*@

    <div class="row" style="padding-left:12px; padding-bottom:10px; padding-top :20px">
        <div class="col" style="font-size  :22px; color:midnightblue ">
            Currently open windows
        </div>
    </div>
    <div class="row" style="padding-left:10px">
        <div class="col">
            <table class="table  table-sm">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Close</th>
                    </tr>
                </thead>
                <tbody>
                    @if (localBookingSidePanel != null)
                    {
                        @foreach (var item in localBookingSidePanel.CurrrentWindowList)
                        {
                            <tr>
                                @*    <td><button onclick="@(() => RemoveTodo(item.ID))"><i class="oi oi-trash"></i></button></td> *@

                                <td><button style="border: none; background-color: sandybrown;" @onclick ="@(()=>OpenABookingWindowFromLink(@item.WindowId,@item.BookingId.ToString(),@item.WindowTitle))"><i><u>@item.WindowTitle</u></i></button></td>
                                <td>@item.WindowId</td>
                                <td><button style="border: none; background-color: sandybrown;" @onclick="@(() => CloseABookingWindow(@item.WindowId))"><i class="fa fa-trash-o fa-lg"></i></button></td>
                            </tr>
                        }

                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="row" style="padding-left:12px; padding-bottom:10px; padding-top :20px">
        <div class="col" style="font-size  :22px; color:white ">
            Recent Bookings
        </div>
    </div>
</div>

<style>

    /* side panel*/
    .sidepanel {
        width: 0;
        position: fixed;
        z-index: 1;
        height: 500px;
        top: 0;
        right: 0;
        background-color: sandybrown;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 30px;
        /*        padding-left: 10px;*/
    }

        .sidepanel a {
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 25px;
            color: #818181;
            display: block;
            transition: 0.3s;
        }

            .sidepanel a:hover {
                color: #f1f1f1;
            }

        .sidepanel .closebtn {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 40px;
            color: red
        }

    .opensidebtn {
        font-size: 20px;
        cursor: pointer;
        background-color: midnightblue;
        color: white;
        padding: 5px 15px;
        border: none;
    }

        .opensidebtn:hover {
            background-color: #444;
        }
</style>
@code{

    public BookingGridBase.BookingSidePanelLocalData localBookingSidePanel;
    //protected override async Task OnAfterRenderAsync(bool firstRender)
    //{
    //    try
    //    {
    //        if (firstRender)
    //        {
    //            // because i am using server side blazor i need to add this call(localstorage) to onafterrender async 
    //            // if it is client side, you can put it in initialise function
    //            // await localStore.SetItemAsync("gUseDescOnBooking", "John Smith");
    //            localBookingSidePanel = await localStore.GetItemAsync<BookingGridBase.BookingSidePanelLocalData>("gBookingSidePanelLocalData") ?? new BookingGridBase.BookingSidePanelLocalData();
    //            var rty = localBookingSidePanel.CurrrentWindowList.Count.ToString() + "";
    //            StateHasChanged();
    //        }
    //        else
    //        {
    //            var sq = 2;
    //            sq = sq + 3;
    //        }

    //    }
    //    catch (Exception aa)
    //    {
    //        var qq = aa.Message;
    //    }
    //}

    public async void RefreshMe()
    {
        try
        {
            localBookingSidePanel = await localStore.GetItemAsync<BookingGridBase.BookingSidePanelLocalData>("gBookingSidePanelLocalData") ?? new BookingGridBase.BookingSidePanelLocalData();
            StateHasChanged();
        }
        catch (Exception ww)
        {
            var sw = ww.Message;
        }

    }

    [JSInvokable]
    public static async void RefreshWindowList(string a_in)
    {
        await Task.Delay(1);
    }
    public async void OpenABookingWindowFromLink(string windowId, string bookingId, string guestName)
    {
        try
        {
             await aJsRuntime.InvokeVoidAsync("open_a_booking", windowId, bookingId, guestName);
        }
        catch (Exception ww)
        {
            var sw = ww.Message;
        }
    }
    public async void CloseABookingWindow(string windowId)
    {
        try
        {
            localBookingSidePanel = await localStore.GetItemAsync<BookingGridBase.BookingSidePanelLocalData>("gBookingSidePanelLocalData") ?? new BookingGridBase.BookingSidePanelLocalData();
            var a_foundid = localBookingSidePanel.CurrrentWindowList.FirstOrDefault(x => x.WindowId == windowId);
            if (a_foundid != null)
            {
                localBookingSidePanel.CurrrentWindowList.Remove(a_foundid);
            }
            await localStore.SetItemAsync("gBookingSidePanelLocalData", localBookingSidePanel);
            await aJsRuntime.InvokeVoidAsync("close_a_booking", windowId);
            await Task.Delay(2);
            RefreshMe();
        }
        catch (Exception aa)
        {
            var bb = aa.Message;
        }
    }


}