@using Syncfusion.Blazor
@using Syncfusion.Blazor.Popups
@using Syncfusion.Blazor.Buttons


	<SfButton @onclick="@OnClicked">Open Dialog</SfButton>
	<SfDialog @bind-Visible="@isVisible"  Target="#target" Width="250px" AllowDragging="true"  ShowCloseIcon="true">
		<DialogTemplates>
			<Header> Dialog</Header>
			<Content> This is a Dialog with drag enabled</Content>
		</DialogTemplates>
		<DialogButtons>
			<DialogButton OnClick="@OnClick">
				<DialogButtonModel Content="OK" IsPrimary="true"></DialogButtonModel>
			</DialogButton>
			<DialogButton OnClick="@OnClick">
				<DialogButtonModel Content="Cancel"></DialogButtonModel>
			</DialogButton>
		</DialogButtons>
	</SfDialog>


<style>
	#target {
		min-height: 400px;
		height: 100%;
		position: relative;
	}
</style>

@code {
	public bool isVisible { get; set; } = false;

	private void OnClick()
	{
		isVisible = false;
	}

	private void OnClicked()
	{
		isVisible = true;
	}
}