﻿
@model WebApplication1.Pages.Bookings.BookingGridBase.BookingParameter
@{
    ViewData["Title"] = "Test Grid";
    Layout = "_LayoutBookingGrid";
}

<!-- // Filter // -->
@*<div class="row">
        <div class="col-md-12">
            OK Now now @Model.UserID + 11  - yy @{
                var ss = (Model.UserID + 11).ToString();
            }
            @ss
        </div>
    </div>*@


@(await Html.RenderComponentAsync<WebApplication1.Pages.Bookings.TestGrid>(RenderMode.ServerPrerendered, new { myPara = Model }))

