﻿@page "/bookings/testgrid"
@using Syncfusion.Blazor.Schedule

<h1>Counter</h1>

<p>Current count: @cCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<div class="control-section">
    <div class="content-wrapper">
        <SfSchedule TValue="BookingData"  Readonly=" true" Width="100%" Height="650px" ShowHeaderBar="false"  SelectedDate="@(DateTime.Today)" CurrentView="View.TimelineMonth">
            <ScheduleViews>
                 <ScheduleView Option="View.TimelineMonth"></ScheduleView>

            </ScheduleViews>
            <ScheduleEventSettings DataSource="@DataSource"></ScheduleEventSettings>
        </SfSchedule>
    </div>
</div>



@code {
    int cCount = 0;

    [Parameter]
    public BookingGridBase.BookingParameter myPara { get; set; }

    public List<BookingData> DataSource = new List<BookingData>();

    void IncrementCount()
    {
        cCount = cCount + 2;
    }

    public class BookingData
    {
        public int Id { get; set; }
        public string Subject { get; set; }
        public string Location { get; set; }
        public DateTime StartTime { get; set; }
        public DateTime EndTime { get; set; }
        public string Description { get; set; }
        //public bool IsAllDay { get; set; }
        //public string RecurrenceRule { get; set; }
        //public string RecurrenceException { get; set; }
        //public Nullable<int> RecurrenceID { get; set; }
        public int RoomCodeId { get; set; }
        public int RoomTypeId { get; set; }
        public bool IsReadonly { get; set; }

        public string ElementType { get; set; }
        public string BookingBarColor { get; set; }
        public string BookingBarText { get; set; }
        public string GuestName { get; set; }
        public string Pax { get; set; }
        public int Status { get; set; }
        public string StatusText { get; set; }
        public string RoomCodeText { get; set; }
        public string RoomTypeText { get; set; }
        public string Mobile { get; set; }
        public string Comments { get; set; }
        public int BookingNumber { get; set; }
        public string BookingDates { get; set; }
        public bool DualKeyDummy { get; set; }
        public bool DualKey { get; set; }
        public int DualKeyLinkedRoomID { get; set; }
        public string DualKeyLinkedRoomCodeName { get; set; }
        public DateTime StartTimeOriginal { get; set; }
        public DateTime EndTimeOriginal { get; set; }
        public int RoomCodeIdOriginal { get; set; }
        public int RoomTypeIdOriginal { get; set; }
        public virtual DateTime StartTimeValue { get; set; }
        public virtual DateTime EndTimeValue { get; set; }
  
    }


}
